[submodule "nvim-config3.0"]
	path = nvim-config3.0
	url = git@github.com:avario-cpu/nvim-config3.0.git
[submodule "modules/fzf-tab-completion"]
	path = modules/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
[submodule "games/aoe2/aoe2-best-ui"]
	path = games/aoe2/aoe2-best-ui
	url = git@github.com:bro69noscope/aoe2-best-ui.git
[submodule "games/aoe2/aoe2-better-minimap-colors"]
	path = games/aoe2/aoe2-better-minimap-colors
	url = git@github.com:bro69noscope/aoe2-better-minimap-colors.git
