alias fast_noclip_on  "host_timescale 1.3; noclip 1; alias fast_noclip_toggle fast_noclip_off"
alias fast_noclip_off "host_timescale 1.0; noclip 0; alias fast_noclip_toggle fast_noclip_on"
alias fast_noclip_toggle "fast_noclip_on"

# bind "UPARROW" "host_timescale_inc"
# bind "DOWNARROW" "host_timescale_dec"
# bind "LEFTARROW" "host_timescale 1.0"

# bind "5" "fast_noclip_toggle"

bind "5" noclip
alias minisetup "citadel_minimap_local_player_width 6.5; citadel_minimap_max_icon_shrink 0.75; citadel_minimap_player_width 5.5"
